ion-toggle {
  width: 70px;
  height: 34px;
  border: 2px solid white;
  border-radius: 999px;
  --handle-width: 35px;
  --handle-height: 35px;
  --handle-spacing: 0px;
  --border-radius: 999px;
  --background: #21ace3;
  --background-checked: #3b5b7b;
}
