.carousel,
.slider-wrapper,
.slider {
  height: 100%;
}
.slide {
  display: flex;
  justify-content: center;
}
// .slider-container {
//   width: 100%;
//   height: 100%;

//   /* Add this */
//   position: fixed;
//   top: 0;
//   left: 0;
// }
