.error-message {
  margin-top: 1.25rem;
  padding: 1.25rem;
  background-color: red;
  text-align: center;
  opacity: 0.7;
  width: 100%;
}

.content-between {
  align-items: space-between;
}

.avatar-button {
  padding: 0 0 10px 16px;
}

.merchant-button {
  padding: 25px 0 0 0;
}
.merchant-action {
  margin: 45px 0 45px 0;
}

.u-1 {
  margin: 15px 0 0 0;
}

.hide {
  display: none;
}

.mc-profile {
  margin-top: 14px;
  font-size: 20px;
}

.country {
  margin-bottom: 15px;
}
