.error-message {
    margin-top: 1.25rem;
    padding: 1.25rem;
    background-color: red;
    text-align: center;
    opacity: 0.7;
    width: 100%;
}

.content-between {
    align-items: space-between;
}