.advertisement-modal {
    --background: transparent !important;
    --width: 100%;
    --height: 100% !important;
}


.advertisement-modal .ion-page {
    background: transparent !important;
    justify-content: center;
    margin: 1rem
  }