.PhoneInputInput {
  background: none;
  border: none;
  width: '100%';
  outline: none;
  font-size: 1.25rem /*20px*/;
  line-height: 1.75rem;
}
.PhoneInputInput:focus {
  border: none;
  box-shadow: none;
}
.PhoneInputInput::placeholder {
  color: var(--white-faded);
}
.PhoneInputInput:focus::placeholder {
  color: transparent;
}
